
body {
  font-family: verdana, sans-serif;
  margin: 0%;
}

header{
  background: orange;
  justify-content: space-between;
}

header .container{
  padding: 360px 0;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .item {
  color: rgb(122, 43, 43);
  font-size: 72px;
  width: calc(15% - 32px);
  text-align: center;
  line-height: 64px;
  padding: 20px;
  background: rgba(250, 204, 118, 0.767);
  border-radius: 24px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%)
  
}

.item#h {
  color:hsl(200, 70%, 50%);
  /* background: black; */
}
.item#e {
  color:hsl(100, 70%, 50%);
  /* background: black; */
}
.item#l1 {
  color:hsl(0, 70%, 50%);
  /* background: black; */
}
.item#l2 {
  color:hsl(180, 70%, 50%);
  /* background: black; */
}
.item#o {
  color:hsl(280, 70%, 50%);
  /* background: black; */
}



